# Raw media and derived audio (large / copyrighted)
data/raw/
data/audio/
data/transcripts/
data/transcripts_large_model/
data/transcripts_hybrid/

# Python / Jupyter
.venv/
__pycache__/
.ipynb_checkpoints/
